/* .cou.cou--single-line .cou__content.cou__content--animate {
  animation-delay: 0s;
}

.cou__content--animate,
.cou.cou--single-line .cou__content.cou__content--animate {
  animation-delay: 0.2s;
}

.cou__content--animate
  .cou__content__digit:nth-child(1)
  .cou__item--digit:before {
  animation-delay: 0.3s;
}

.cou__content__digit:nth-child(2) .cou__item--digit:before {
  animation-delay: 0.5s;
}

.cou__content--animate
  .cou__content__digit:nth-child(3)
  .cou__item--digit:before {
  animation-delay: 0.7s;
} */
