* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  overflow-x: hidden;
}


a {
  /* color: #646cff; */
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}



button {
  border: none;
  outline: none;
}


.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
